<div class = "container">
  <h1 class = "logo"> Will Garden </h1>
  <ul class = "cb-slideshow">
      <li>
        <span><%= image_tag "placeholder.jpg" %>;</span>
      </li>
      <li>
        <span><%= image_tag "placeholder2.jpg" %>;</span>
      </li>
     <li>
        <span><%= image_tag "placeholder3.jpg" %>;</span>
      </li>
    <li>
        <span><%= image_tag "dark_clouds_2-wallpaper-1366x768.jpg" %>;</span>
      </li>
    <li>
        <span><%= image_tag "beats_by_dre_and_apple-wallpaper-1366x768.jpg" %>;</span>
    </li>
    <li>
      <span><%= image_tag "dark_clouds_2-wallpaper-1366x768.jpg" %>;</span>
    </li>
  </ul>
  <div class = "ghostbox">
    <%= link_to "View Work", photography_path %>
  </div>
</div>