<div class = "container-fluid">
  <%= render "public/navbar" %>
  <div class = "container photo-grid">
    <div class= "row">
      <div class= "photocell col-md-3">
       <%= image_tag "placeholder5.jpg" %>
      </div>
      <div class = "photocell col-md-3">
        <%= image_tag "placeholder5.jpg" %>
      </div>
      <div class = "photocell col-md-3">
       <%= image_tag "placeholder5.jpg" %>
      </div>
    </div>
    <div class = "row">
      <div class = "photocell col-md-3">
        <%= image_tag "placeholder5.jpg"%>
      </div>
      <div class = "photocell col-md-3">
        <%= image_tag "placeholder2.jpg" %>
      </div>
    </div>
  </div>
</div>

