<div class = "container">
  <%= render "public/navbar" %>
  <div class = "photo-grid">
    <div class = "photocell">
      <%= image_tag "placeholder5.jpg" %>
    </div>
    <div class = "photocell" style= "left: 33%;">
      <%= image_tag "placeholder5.jpg" %>
    </div>
    <div class = "photocell" style="left:66%">
      <%= image_tag "placeholder5.jpg" %>
    </div>
    <div class = "photocell" style="margin-top:25%">
      <%= image_tag "placeholder5.jpg" %>
    </div>
    <div class = "photocell" style="margin-top: 25%; left: 33%">
      <%= image_tag "placeholder5.jpg" %>
    </div>
  </div>
</div>