<div class = "container-fluid">
  <%= render "public/navbar" %>
  <div class = "container photo-grid">
    <div class= "row">
      <div class= "photocell col-md-3" style="height:225px;">
       <%= image_tag "beats_by_dre_and_apple-wallpaper-1366x768.jpg" %>
      </div>
      <div class = "photocell col-md-3" style="height:100%; width:40%;">
        <%= image_tag "placeholder3.jpg" %>
      </div>
      <div class = "photocell col-md-3"style="height:225px;">
       <%= image_tag "placeholder5.jpg" %>
      </div>
      <div class = "photocell col-md-3" style="width:45%">
        <%= image_tag "placeholder11.jpg"%>
      </div>
      <div class = "photocell col-md-3" style="width:50%; height:100%;">
        <%= image_tag "placeholder2.jpg" %>
      </div>
      <div class = "photocell col-md-3" style="margin-top:-13%; width:44%;height:30%;">
        <%= image_tag "placeholder10.jpg" %>
      </div>
      <div class = "photocell col-md-3" style="width:55%; height:40%">
        <%= image_tag "placeholder12.jpg" %>
      </div>
      <div class = "photocell col-md-3" style="height: 40%;width: 41%; margin-top:-16%">
        <%= image_tag "placeholder13.jpg" %>
      </div>
    </div>
  </div>
</div>

