<nav class = "navbar">
<h1 id = "logo"> WILL GARDEN </h1>

  <%= image_tag "rectangular4.png", :id => 'hamburger'%>
  <li class = "carouselLogo" style="cursor: pointer">Carousel</li>
<div class = "navmenu">
    <li id = "home">
      <%= link_to "Home", root_url %>
    </li>
    <li id = "artwork">
      <%= link_to "Artwork", artwork_path %>
    </li>    
    <li id="photography">
      <%= link_to "Photography", photography_path %>
    </li>
    <li id="portfolio">
      <%= link_to "Portfolio", portfolio_path %>
    </li>
    <li id="writing">
      <%= link_to "Writing", writing_path %>
    </li>
    <li id="about">
      <%= link_to "About Me", about_path %>
    </li>
    <li id="contact">
      <%= link_to "Contact", contact_path %>
    </li>
  </div>
</nav>